* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #fff;
}
/* nav */
.navbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.navbar .nav-item a {
    color: #212529;
}

.nav-item {
    margin: 0px 10px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 25px;
    font-weight: bold ;
}

.navbar .nav-item .btn {
    color: #fff;
    background-color: #f03e3e;
    border: 1px solid transparent;
    border-radius: 3px;
}

.nav-link.btn.btn-primary:hover {
    background-color: #fff;
    color: #f03e3e;
    border-color: #f03e3e;
}

#job-list-title {
    text-align: center;
    font-weight: bold;
}

/* banner */
#top-container {
    padding: 115px;
    background-color: #f7f9fc;
    border-bottom: 4px solid #013068;
    margin-top: 0px;
    margin-bottom: 30px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

#main-title {
    padding: 30px 0px;
    font-size: 3rem;
}

#main-subtitle {
    font-size: 1rem;
    padding-bottom: 80px;
}

/* form */
#search-form {
    padding: 1px 100px;
}

#search-form .col-md-10, #search-form .col-md-2 {
    padding: 0;
}

#search-form input, #search-form button {
    width: 100%;
    border-radius: 0px;
    height: 50px;
    font-size: 18px;
}

#search-form button {
    color: #fff;
    background-color: #f03e3e;
    border: 1px solid transparent;
}

#search-form button:hover {
    color: #f03e3e;
    background-color: #fff;
    border-color: #f03e3e;
}

/* lista */
#jobs-container {
    padding: 0 100px;
    padding-bottom: 50px; 
}

#job-list .list-group-item {
    margin-bottom: 8px;
    border: 1px solid #ccc;
    padding: 15px 80px;
    color: #212529;
    height: 120px;
}

#job-list .list-group-item p {
    font-size: 14px;
    margin-bottom: 5px;
}

#job-list .list-group-item.new-job {
    border: none;
    background-color: #fff7cc;
}

#job-list-title {
    margin-bottom: 35px;
}

.list-group-item img {
    width: 80px;
    height: 80px;
    border: 1px solid #212529;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: -40px;
    top: calc(50% - 40px);
}

.list-group-item a {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 35px;
    height: 50px;
    line-height: 35px;
    background-color: #f03e3e;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff !important;
}

.list-group-item a:hover {
    color: #f03e3e !important;
    background-color: #fff;
    border-color: #f03e3e;
}

.new-job-label {
    background-color: #ffd500;
    color: #4d5154;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
    position: absolute;
    right: 250px;
    top: 40px;
    display: none;
    border-radius: 5px;
}

.new-job .new-job-label {
    display: block;
}

/* add page */
#add-form-container {
    margin-top: 100px;
}

#form-box {
    padding: 50;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .15);
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 50px;
}

#add-form-container h1 {
    margin-bottom: 30px;
}

#add-form-container h2 {
    color: #f03e3e;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

#add-form-container form label {
    font-weight: bold;
}

#add-form-container form input, #add-form-container form textarea {
    border: 2px solid #ccc;
    background-color: #f8f9fa;
}

#form-box button {
    display: flex;
    font-weight: bold;
    background-color: #f03e3e;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 20px auto;
    padding: 15px;
}

.btn-primary:hover {
    color: #f03e3e !important;
    background-color: #fff !important;
    border-color: #f03e3e !important;
}

footer {
    text-align: center;
    background-color: #f8f9fa;
    padding: 0;
    margin: 0;
    left:0;
    border-top: 1px solid #ccc;
}

#links {
    font-weight: bold;
    padding-top: 10px;
    margin: 0;
    color: #000;
}

#create {
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
}
